<!DOCTYPE html>
<html>
  <head>
    <title>{{name}}</title>
  </head>
  <body bgcolor="white">
    <h1>{{name}}</h1>

    <hr>
    <pre>
      <a href="{{parent}}">../</a>
      {{#children}}
        {{#isValue}}
          <a href="{{url}}.html">{{name}}</a>
        {{/isValue}}
        {{#isAction}}
          {{name}}
        {{/isAction}}
        {{#isNode}}
          <a href="{{url}}.html">{{name}}/</a>
        {{/isNode}}
      {{/children}}
    </pre>
    <hr>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
    <script></script>
  </body>
</html>
