<!DOCTYPE html>
<html>
  <head>
    <title>{{name}}</title>

    <style>
      .value {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 50%;
        max-height: 50%;
      }
    </style>
  </head>

  <body>
    <h1>{{name}}</h1>

    {{#isNotImage}}
      <h1 class="value"></h1>
    {{/isNotImage}}

    {{#isImage}}
      <img class="value">
    {{/isImage}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>

    <script>
      var path = "{{path}}";

      var ws = new WebSocket(
          window.location.href
              .substring(0, window.location.href.length - 5)
              .replace("http:", "ws:")
              .replace("https:", "wss:") + "?subscribe"
      );

      var $value = $(".value");

      ws.addEventListener("message", function (event) {
        var json = JSON.parse(event.data);

        {{#isNotImage}}
          if (typeof json.value !== "undefined") {
            $value.text((typeof json.value != "string") ? JSON.stringify(json.value) : json.value);
          }
        {{/isNotImage}}

        {{#isImage}}
          if (typeof json.value !== "undefined" && json.bin == true) {
            $value.attr("src", "data:image/jpeg;base64," + json.value);
          }
        {{/isImage}}
      });
    </script>
  </body>
</html>
